<h1 mat-dialog-title>Item Update</h1>
<hr />
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <input matInput [formControl]="name" placeholder="Item Name" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput [formControl]="price" placeholder="Price" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput [formControl]="image" placeholder="Image, only URL right now :("/>
    </mat-form-field>
  </form>
</div>
<hr />
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="returnValue"
    color="primary"
    [disabled]="!form.valid"
  >
    Update
  </button>
</div>
