<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="returnClicked()" class="example-icon" aria-hidden="false" aria-label="Example delete icon">
        arrow_back
      </mat-icon>
    </button>
    <mat-tab-group
      mat-align-tabs="center"
      color="accent"
      (selectedTabChange)="changeTab($event)"
      [selectedIndex]="selectedTab">
      <mat-tab label="Home">
        <ng-template mat-tab-label>
          <div class="header-label">
            Home
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Upload">
        <ng-template mat-tab-label>
          <div class="header-label">
            Upload
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="About">
        <ng-template mat-tab-label>
          <div class="header-label">
            About
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="cancelClicked()" class="example-icon" aria-hidden="false" aria-label="Example heart icon">close
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
