<mat-card class="h-100" *ngIf="group">
  <mat-card-header>
    <mat-card-title>
      <button
        mat-flat-button
        (click)="selectGroup()"
        matTooltip="View"
        color="primary"
        [routerLink]="['/invoices/group', group.id]"
      >
        {{ group.name | titlecase }}
      </button>
      <button mat-icon-button (click)="updateGroup()" matTooltip="Update Group" color="primary">
        <mat-icon>update</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteGroup()" matTooltip="Delete Group" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/invoices/upload', group.id]" matTooltip="Upload Receipt" color="accent" (click)="selectGroup()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip *ngFor="let name of group.people">{{ name | titlecase }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
