<mat-card class="detail-card">
  <mat-card-header>
    <mat-card-title>{{ item.name | titlecase | slice:0:13 }}</mat-card-title>
    <mat-card-subtitle fxLayout.lt-xs="row">
      {{ item.price | number:'1.2-2' | currency }}
      <button mat-button (click)="update()" *ngIf="!isEdit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="update()" *ngIf="isEdit">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-button (click)="remove(item)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button (click)="selectAll()" *ngIf="!isSelectAll">
        <mat-icon>select_all</mat-icon>
      </button>
      <button mat-button (click)="deselectAll()" *ngIf="isSelectAll">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="isEdit">
      <form [formGroup]="form" autocomplete="off">
        <mat-form-field>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="image">
        </mat-form-field>
      </form>
    </ng-container>
    <ng-container *ngIf="!isEdit">
      <img [src]="item.image" style="width: 100%; height: 100px; display: inline-block">
      <mat-chip-list>
        <mat-chip
          mat-raised-button
          *ngFor="let person of item.people"
          class="button-row"
          (click)="toggle(person)"
          [color]="person.selection ? 'accent' : 'primary'"
        >{{ person.name  | slice:0:1}}
        </mat-chip>
      </mat-chip-list>
    </ng-container>
  </mat-card-content>
</mat-card>
