.header {
  display: flex;
}

.card-title {
  word-break: break-all;
  line-height: 40px;
  font-size: 20px;
}

mat-icon:hover {
  cursor: pointer;
}

.money-color {
  color: green;
}

.header > .cdk-mouse-focused {
  background: rgba(255, 0, 0, 0.5);
}
.header > .cdk-keyboard-focused {
  background: rgba(0, 255, 0, 0.5);
}
.header > .cdk-touch-focused {
  background: rgba(0, 0, 255, 0.5);
}
.header > .cdk-program-focused {
  background: rgba(255, 0, 255, 0.5);
}
