<mat-card class="detail-card" *ngIf="item">
  <div class="header" #card>
    <span matTooltip="{{item.name}}" class="card-title" tabindex="1">
      {{ item.name | titlecase | slice: 0:14 }}
    </span>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="update()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="remove(item)">
        <mat-icon color="warn">delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" matTooltip="More options" tabindex="-1">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-card-content>
    <div class="header">
      <button mat-button class="money-color" tabindex="-1">{{ item.price | currency:'USD':'symbol':'1.2-2' }}</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="update()" *ngIf="isEdit">
        Save
      </button>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="undo()" *ngIf="isEdit">
        Undo
      </button>
      <button mat-icon-button (click)="selectAll()" *ngIf="!isSelectAll && !isEdit" matTooltip="Select All"
              tabindex="-1">
        <mat-icon>select_all</mat-icon>
      </button>
      <button mat-icon-button (click)="deselectAll()" *ngIf="isSelectAll && !isEdit" matTooltip="Remove All"
              tabindex="-1">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isEdit">
      <form [formGroup]="form" autocomplete="off">
        <mat-form-field>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="image">
        </mat-form-field>
      </form>
    </ng-container>
    <ng-container *ngIf="!isEdit">
      <div style="display: flex; justify-content: center">
        <img [src]="item.image" style="height: 200px; max-width: 225px;display: inline-block; padding: 1.5rem 0"
             [alt]="item.name">
      </div>
      <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="flex-center">
        <mat-checkbox
          tabindex="-1"
          *ngFor="let person of item.people"
          (change)="toggle()"
          [(ngModel)]="person.selection"
          fxFlex="0 1 calc({{100/(item.people.length)}}%-1px)"
        >{{ person.name  | slice:0:1 }}
        </mat-checkbox>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
