<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? rowToggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef>Select</td>
      </ng-container>

      <!-- Other Columns -->
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns.slice(1); let i = index">
        <!-- DATE -->
        <ng-container *ngIf="i === 0">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element" class="date-column"> {{ element.date | date: 'shortDate' }}</td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <!-- NOT DATE -->
        <ng-container>
          <th mat-header-cell *matHeaderCellDef> {{ column }}</th>
          <td mat-cell *matCellDef="let element">
            {{ findPrice(element.people, column) | currency:'USD':'symbol':'1.2-2' }}
          </td>
          <td mat-footer-cell *matFooterCellDef> {{ totalFooter[i-1] | currency }}</td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <app-receipt-list-card
            [element]="element"
            (deleted)="delete($event)"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
            class="example-element-detail"
          ></app-receipt-list-card>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
  </div>

</div>
