<div
  class="page-header section-dark"
  style="background-image: url('assets/img/antoine-barres.jpg')"
>
  <div class="filter"></div>
  <div class="content-center" style="z-index: 999">
    <div class="container">
      <div class="title-brand">
        <h1 class="presentation-title">{{ title }}</h1>
        <button
          style="margin-top: 5%"
          type="button"
          class="btn btn-outline-neutral btn-round"
          [routerLink]="['/receipts/login']"
        >
          <i class="fas fa-sign-in-alt"></i>
          Login
        </button>
        <button
          style="margin-top: 5%"
          type="button"
          class="btn btn-outline-neutral btn-round"
          [routerLink]="['/demo']"
        >
          <i class="fas fa-play"></i>
          Try the demo
        </button>
      </div>
      <h2 class="presentation-subtitle text-center mt-5"></h2>
    </div>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png');"
  ></div>
</div>
