<div
  class="page-header section-dark"
  style="background-image: url('assets/img/antoine-barres.jpg')"
>
  <div class="filter"></div>
  <div class="content-center" style="z-index: 999">
    <div class="container">
      <div class="title-brand">
        <div class="angular-logo">
          <img src="assets/img/broccoli-logo.png" alt="" />
        </div>
        <h1 class="presentation-title">{{ title }}</h1>
        <div class="fog-low">
          <img src="assets/img/fog-low.png" alt="" />
        </div>
        <div class="fog-low right">
          <img src="assets/img/fog-low.png" alt="" />
        </div>
      </div>
      <h2 class="presentation-subtitle text-center mt-5">
        <a class="btn btn-primary btn-round btn-block" [routerLink]="['/demo']"
          >Demo</a
        >
      </h2>
    </div>
  </div>
  <div
    class="moving-clouds"
    style="background-image: url('assets/img/clouds.png');"
  ></div>
  <h6 class=" category-absolute ml-auto mr-auto">
    <a href="https://www.wdcy.me" target="_blank">
      Charlie Yang
    </a>
  </h6>
</div>
