h2, h3
  text-align: center

input[type=checkbox]:checked + label:before
  background: #007f2c
  color: #fff
  transform: rotate(360deg)
  transform-origin: center center

input[type=checkbox]
  visibility: hidden

.btn
  margin: 1rem 0

table label
  cursor: pointer
  &:before
    display: inline-block
    content: attr(data-name)
    margin: 0 10px 0 0
    width: 35px
    height: 35px
    border: 3px solid #f95e5e
    border-radius: 100%
    vertical-align: middle
    color: #f95e5e
    font-size: 30px
    text-align: center
    font-weight: 700
    line-height: 0.9em
    transition: transform 0.2s ease-in-out

#table
  text-align: center

.row
  background: #fff
  padding: 20px
  position: relative
  margin: 0 0 1px 0
  display: table-row
  &:hover
    cursor: pointer
  &.selected
    background: #f3f3f3
