<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="https://www.wdcy.me" target="_blank">Blog</a></li>
          <li><a href="mailto:contact@gosplit.online" target="_top">Email</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
                <span class="copyright">
                    © {{ test | date: 'yyyy' }}, made with <i class="fa fa-heart heart"></i> by Charlie Yang
                </span>
      </div>
    </div>
  </div>
</footer>
