<mat-card class="about-card">
  <mat-card-content>
    <form [formGroup]="loginForm" autocomplete="off">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username" type="text">
            <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['username'].hasError('usernameWrong')">
              Username is <strong>incorrect</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password"
                   (keyup.enter)="verifyPassword()">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="verifyPassword()">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
