<div class="header">
  <div>
    <div class="navbar-wrap">
      <a href="#">
        <img src="assets/baby.png" class="d-inline-block align-top" width="30" height="30"></a>
      GoSplit@Online
    </div>
  </div>
  <mat-tab-group
    mat-align-tabs="center"
    (selectedTabChange)="changeTab($event)"
    [selectedIndex]="selectedTab">
    <mat-tab label="Home">
      <ng-template mat-tab-label>
        <div class="header-label">
          Home
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Upload">
      <ng-template mat-tab-label>
        <div class="header-label">
          Upload
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="About">
      <ng-template mat-tab-label>
        <div class="header-label">
          About
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
