<div class="header">
  <div>
    <div class="navbar-wrap">
      <div class="navbar-wrap__return" (click)="returnClicked()"></div>
      <div class="navbar-wrap__cancel" (click)="cancelClicked()"></div>
      <div class="navbar-wrap__text"><img src="assets/baby.png" width="30" height="30" style="position: relative; top: -5px; left: -5px">
        GoSplit
      </div>
    </div>
  </div>
  <mat-tab-group
    mat-align-tabs="center"
    (selectedTabChange)="changeTab($event)"
    [selectedIndex]="selectedTab">
    <mat-tab label="Home">
      <ng-template mat-tab-label>
        <div class="header-label">
          Home
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Upload">
      <ng-template mat-tab-label>
        <div class="header-label">
          Upload
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="About">
      <ng-template mat-tab-label>
        <div class="header-label">
          About
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
