<div class="wrapper">
  <div class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-md-10 mr-auto ml-auto">
          <div *ngIf="receipt" style="margin-top: 5%">
            <app-receipt-detail-header
              [receipt]="receipt"
              (selected)="autoSelect()"
            ></app-receipt-detail-header>
            <div #cardDisplay class="row">
              <app-receipt-detail-card
                #card
                (changed)="updateItem($event)"
                (keydown)="onKeyDown($event)"
                (removed)="deleteItem($event)"
                (selected)="select($event)"
                *ngFor="let item of receipt.list; let i = index"
                [isSelected]="activeItemId === i"
                [item]="item"
                [key]="key"
                class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto md-3 receipt-detail-card"
              ></app-receipt-detail-card>
            </div>
            <app-receipt-detail-footer
              [receipt]="receipt"
            ></app-receipt-detail-footer>
          </div>
          <span class="add">
            <button (click)="createReceipt()" mat-fab>
              <mat-icon>add circle</mat-icon>
            </button>
          </span>
          <span class="done">
            <button (click)="updateReceipt()" mat-fab>
              <mat-icon>check circle</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
