<div *ngIf="selectedReceipt" class="row">
  <mat-card
    *ngFor="let item of selectedReceipt.list; let i = index"
    class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto receipt-detail-card"
  >
    <mat-card-content>
      <div class="header">
        <button mat-button class="card-title">
          {{ item.name | titlecase }}
        </button>
      </div>
      <div class="header">
        <span mat-button class="money-color">
          {{ item.price | currency: "USD":"symbol":"1.2-2" }}
        </span>
        <span class="spacer"></span>
        <button
          mat-icon-button
          (click)="updateItem(item)"
          class="edit"
        >
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteItem(item)"
          class="delete"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="toggleAllItems(item, i)"
          matTooltip="Select All"
          class="toggleAll"
        >
          <mat-icon color="primary">select_all</mat-icon>
        </button>
      </div>
      <div style="display: flex; justify-content: center">
        <img
          [src]="item.image"
          style="height: 200px; max-width: 200px;display: inline-block; padding: 1.5rem 0"
          [alt]="item.name"
        />
      </div>
      <div>
        <span *ngFor="let person of item.people" class="col-{{ width }}">
          <mat-checkbox
            (change)="toggleItem(person, item, i)"
            [checked]="person.selection"
            class="toggle"
          >{{ person.name }}
          </mat-checkbox>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-actions>
      <button mat-button (click)="createItem()">
        <mat-icon>add circle</mat-icon>
      </button>
      <button mat-button (click)="checkSplit()">
        <mat-icon>attach_money</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
