.header {
  display: flex;
}

.card-title {
  word-break: break-all;
  line-height: 40px;
  font-size: 20px;
}

form > * {
  width: 100%;
}

.receipt-detail-card {
  margin: 7px 0;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.add {
  position: fixed;
  bottom: 90px;
  right: 20px;
  color: white;
}

.auto-select {
  position: fixed;
  bottom: 230px;
  right: 20px;
  color: white;
}

.check-status {
  position: fixed;
  bottom: 160px;
  right: 20px;
  color: white;
}
