<div class="wrapper">
  <div class="page-header" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-md-10 mr-auto ml-auto">
          <app-item-list
            [selectedReceipt]="selectedReceipt$ | async"
            (create)="createItem($event)"
            (update)="updateItem($event)"
            (delete)="deleteItem($event)"
            (toggle)="toggleItem($event)"
            (toggleAll)="toggleAllItems($event)"
          ></app-item-list>
          <button mat-button (click)="updateReceipt()">
            Update Receipt
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
