<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/joshua-stannard.jpg');"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="./assets/img/broccoli-logo.png"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h4 class="title">GoSplit.Online<br/></h4>
          <h6 class="description">
            Manage and control all your grocery bills with your friends
          </h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>
            It's always hard to split grocery bills with friends. There is
            always something that only one of you wants, and it is unfair if
            everyone splits the bills equally.
          </p>
          <br/>
          <p>
            Introducing GoSplit, an online platform where people can upload
            their bills and browse through each item with its name, price, and
            picture. Moreover, friends can gather together to select the item
            they want and pay for what they want.
            <br/>*******************************<br/><b
            style="font-weight: 700"
          >Recent Update: added machine learning that can predict current
            bill selections based on previous bills selections</b
          ><br/>*******************************
          </p>
          <br/>
          <div class="col-12">
            <h4 class="images-title">First, sign up for an account</h4>
            <img
              src="assets/demo/signup.png"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <div class="col-12">
            <h4 class="images-title">Then, go to the upload page</h4>
            <img
              src="assets/demo/upload_nav.png"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <div class="col-12">
            <h4 class="images-title">Take a picture of your receipt</h4>
            <img
              src="assets/demo/sample-receipt.jpg"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <div class="col-12">
            <h4 class="images-title">Fill out information</h4>
            <img
              src="assets/demo/upload_page1.png"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <div class="col-12">
            <h4 class="images-title">Wait for it to process</h4>
            <img
              src="assets/demo/upload_page2.png"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <br/>
          <div class="col-12">
            <h4 class="images-title">This might take around 10 seconds</h4>
            <img
              src="assets/demo/upload_page3.png"
              class="img-rounded img-responsive"
              alt="Rounded Image"
            />
          </div>
          <br/>
          <button
            class="btn btn-outline-default btn-round"
            [routerLink]="['/demo/receipt']"
          >
            <i class="fa fa-cog"></i>
            See the result
          </button>
          <br/>
          <a [routerLink]="['/receipts/signup']"
          ><h4 class="images-title">Sign up now!</h4></a
          >
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
<app-footer></app-footer>
