<mat-card>
  <mat-card-content>
    <div class="header">
      <button mat-button class="card-title">
        {{ item[0].name | titlecase }}
      </button>
    </div>
    <div class="header">
      <button mat-button class="money-color">
        {{ item[0].price | currency: "USD":"symbol":"1.2-2" }}
      </button>
      <span class="spacer"></span>
      <button mat-icon-button (click)="save()" *ngIf="!isEdit" class="edit">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="removeItem(item[0])" *ngIf="!isEdit" class="delete">
        <mat-icon color="warn">delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="save()" *ngIf="isEdit">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="cancel()" *ngIf="isEdit" class="cancel">
        <mat-icon>close</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="toggleAll()"
        *ngIf="!isSelectAll && !isEdit"
        matTooltip="Select All"
        class="toggleAll"
      >
        <mat-icon color="primary">select_all</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="toggleAll()"
        *ngIf="isSelectAll && !isEdit"
        matTooltip="Remove All"
      >
        <mat-icon color="warn">remove_circle</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="isEdit">
      <form [formGroup]="form" autocomplete="off">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="price" placeholder="Price" />
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="image" placeholder="Image(url)" />
        </mat-form-field>
      </form>
    </ng-container>
    <ng-container *ngIf="!isEdit">
      <div style="display: flex; justify-content: center">
        <img
          [src]="item[0].image"
          style="height: 200px; max-width: 200px;display: inline-block; padding: 1.5rem 0"
          [alt]="item[0].name"
        />
      </div>
      <div>
        <span
          *ngFor="let person of people"
          class="col-{{ width }}">
          <mat-checkbox
            (change)="toggle(person)"
            [checked]="person.itemSelection[item[1]]"
            class="toggle"
            >{{ person.name }}
          </mat-checkbox>
        </span>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
