<mat-card class="about-card">
  <mat-card-content>
    <form [formGroup]="signupForm" autocomplete="off">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="username" type="text">
            <mat-error *ngIf="signupForm.controls['username'].hasError('required')">
            Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password" (keyup.enter)="signup()">
            <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')">
              Password is <strong>too short</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
